@charset "UTF-8";

@import url(http://cdn.jsdelivr.net/nanumsquare/1.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {font-family:NanumSquare,'Malgun Gothic','맑은 고딕',Arial; height:100%;position: relative; }
body {font-size:14px; color:#6e6e6e; line-height:170%; margin:0; padding:0; width:100%; letter-spacing:-0.5px; min-width:320px; }
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, header, footer, input {margin:0; padding:0;}
ul, ol, li {list-style:none;}
li{-webkit-tap-highlight-color: rgba(0,0,0,.1);}
img, input, fieldset {border:0 none;}
img, input, select, textarea{vertical-align:middle;}
address, em {font-style:normal; font-weight:normal;}
a {text-decoration:none; text-overflow:ellipsis;-webkit-tap-highlight-color: rgba(0,0,0,.1);}
a:link, a:hover, a:active {text-decoration:none;}
a:focus {outline:none;}
input:focus {outline:medium none;}
input, textarea, select {border-radius:0 0 0 0;font-family:'Malgun Gothic','맑은 고딕',Arial; font-size:14px; color:#6e6e6e; -webkit-appearance:none;}
input[type="checkbox"]:checked {background-color:#fff;}
input[type="radio"] {vertical-align:top;}
input[type="text"], [type="password"], [type="number"], textarea {-webkit-appearance:none;}
table {border-collapse:collapse; border-spacing:0; empty-cells:show; vertical-align:middle;}
caption {position:absolute; left:-999px; width:0; height:0; font-size:0; visibility:hidden; z-index:-1;}
header, footer, section, article {display:block;}
button {border:medium none; cursor:pointer; overflow:hidden; text-align:center;}
input[type=text]::-ms-clear {display: none;}
input[type=password]::-ms-reveal{display:none;}

input:focus::-webkit-input-placeholder,textarea:focus::-webkit-input-placeholder {color:transparent;}
input:focus:-moz-placeholder,textarea:focus:-moz-placeholder{color:transparent;}
input:focus::-moz-placeholder,textarea:focus::-moz-placeholder{color:transparent;}
input:focus:-ms-input-placeholder,textarea:focus:-ms-input-placeholder{color:transparent;}





/* common */
.Ftr {float:right;}
.Ftl {float:left;}
.Ftn {float:none !important;}
.tAc {text-align:center;}
.tAr {text-align:right;}
.tAl {text-align:left;}
.dsI {display:inline;}
.dsIB {display:inline-block;}
.dsB {display:block !important;}
.dsN {display:none;}
.dsT {display:table;}
.c_bt {clear:both;}
.ofH {overflow:hidden;}
.csP {cursor:pointer;}
.ti {text-indent:-9999px!important;}
.fwb {font-weight:bold;}
.bL0{border-left:0;}
.bR0{border-right:0;}
.bT0{border-top:0;}
.bB0{border-bottom:0;}
.m0A {margin:0 auto;}
.vAt {vertical-align:top;}
.pTr {position:relative;}
.m0 {margin:0!important;}
.bL0 {border-left:0!important;}
.bR0 {border-right:0!important;}
.mB0 {margin-bottom:0!important;}
.ptn_color {color:#74bf45;}
.fWn {font-weight:normal;}
.ti11 {text-indent:11px!important;}
.ti31 {text-indent:31px!important;}

/* layout */
/*.wrap { width: 100%; position: relative; overflow: auto; max-width: 1920px; min-width: 320px;height:100%;}*/
.wrap { width: 100%; position: relative; max-width: 1920px; min-width: 320px;height:100%;}

.mCSB_scrollTools {width:8px!important;}
.mCSB_inside>.mCSB_container {margin-right:0px!important;}
/*상단 메뉴*/
.top_menu {width:100%; z-index:8889; position:fixed; top:0; transition: all .4s cubic-bezier(.215,.61,.355,1);-webkit-transition: all .4s cubic-bezier(.215,.61,.355,1); -o-transition: all .4s cubic-bezier(.215,.61,.355,1);}
.top_menu .content {max-width:960px; margin:0 auto;}
.top_menu .content .logo_box {text-align:center; padding:20px 0; position:relative;}
.top_menu .content .logo_box .logo{width:94px;}
.top_menu .content .logo_box ul {overflow:hidden; position:absolute;top:50%; right:0; margin-top:-12px;}
.top_menu .content .logo_box ul li {float:left; margin-left:24px;}
.top_menu .content .logo_box ul li a{color:#d2d3d1;font-size:13px;}
.top_menu .content .logo_box ul li a.on{color:#fff; text-decoration:underline;}
.top_menu .content .menu_list {margin-top:3px;padding:5px 0 0; overflow:hidden;}
.top_menu .content .menu_list li{width:19.8%; float:left; text-align:center; padding-bottom:5px; border-bottom:5px solid transparent; }
.top_menu .content .menu_list li a{color:#fff; font-size:16px; display:block;}
.top_menu .content .menu_list li.on {border-bottom:5px solid #fff;}
.top_menu .content .menu_list li:nth-child(1):hover {border-bottom:5px solid #fff;}
.top_menu .content .menu_list li:nth-child(2):hover {border-bottom:5px solid #fff;}
.top_menu .content .menu_list li:nth-child(3):hover {border-bottom:5px solid #fff;}
.top_menu .content .menu_list li:nth-child(4):hover {border-bottom:5px solid #fff;}
.top_menu .content .menu_list li:nth-child(5):hover {border-bottom:5px solid #fff;}


/*상단 메뉴 펼침*/
.menu_draw {display:none; width:100%; height:230px; background:#fff; position:fixed; top:121px; z-index:110; transition:.1s ease-out;}
.menu_draw .draw_box {max-width:960px;margin:0 auto;overflow:hidden; height:100%;}
.menu_draw .draw_box .box_list{width:19.7%;float:left;height:100%;border-left:1px solid #efefef; position:relative;}
.menu_draw .draw_box .box_list:last-child {border-right:1px solid #efefef;}
.menu_draw .draw_box .box_list ul {margin:21px;}
.menu_draw .draw_box .box_list ul li {}
.menu_draw .draw_box .box_list ul li:hover a{text-decoration:underline;}
.menu_draw .draw_box .box_list ul li a {color:#666; font-size:13px;display:block;}
.menu_draw .draw_box .box_list .bline {background-color:#666; width:100%; height:6px;position:absolute;top:-3px; z-index:8889;}
.main_slideD {display:none;}


/*M상단 메뉴*/
.Mtop_menu {display:none;width:100%; height:50px; background:#74bf45;position:fixed; top:0;z-index:888;}
.Mtop_menu .Mlogo {float:left;display:block; width:75px;padding: 9px 20px;}
.Mtop_menu .Mlogo img{width:100%;}
.Mtop_menu .Mmenu_btn {float:right;display:block; width:26px;padding: 14px 20px;}
.Mtop_menu .Mmenu_btn img {width:100%;}


/*푸터*/
.footer {width:100%; height:62px; background:#fff;position:fixed; bottom:0;z-index:100;}
.footer .content {max-width:960px; height:100%; margin:0 auto;overflow:hidden; padding: 16px 0; box-sizing: border-box;}
.footer .content .logo {float:left; width:80px;}
.footer .content .logo img {width:75%;}
.footer .content .txt {float:left;color:#a2a2a2; font-size:11px; line-height:1.4;width:calc(100% - 390px);}
.footer .content .list {float:left; width:310px;}
.footer .content .list ul {overflow:hidden;}
.footer .content .list ul li {float:left;}
.footer .content .list ul li a {color:#a2a2a2; font-size:11px;border-right:1px solid #a2a2a2;padding:0 13px;}
.footer .content .list ul li:last-child a {border-right:0;}



/*right open*/
.right_open {display:none;z-index:8889;width:300px; position:fixed;top:0; right:-300px; background:#fff; height:100%; overflow:hidden; transition:.3s ease;}
.right_open .lo_wrap {width:100%; height:100%; overflow:auto; }
.right_open .lo_wrap .closebox {width:100%; height:50px; text-align:right;}
.right_open .lo_wrap .closebox img {width:34px; padding:8px;}
.right_open .lo_wrap ul li {height:50px; line-height:50px;color:#000; font-size:17px; text-indent:20px; background:no-repeat top 16px right 12px;background-image:url("../images/arrowD.png"); background-size:25px 18px;transition: 0.1s linear;}
/*.right_open .lo_wrap ul li.list_1 {background-image:url("../images/arrowU.png");}*/
.right_open .lo_wrap ul > div {width:100%;display:none;}
/*.right_open .lo_wrap ul > div.list_detail_1 {display:block;}*/
.right_open .lo_wrap ul > div ul li {height:40px;line-height:40px; border-bottom:1px solid #e3e2e2; background:#f7f7f7;text-indent:20px;}
.right_open .lo_wrap ul > div ul li:first-child {border-top:1px solid #e3e2e2;}
.right_open .lo_wrap ul > div ul li a {display:block; font-size:12px; color:#666;padding-left:4px;}
.right_open .lo_wrap .mlang {margin-left:20px; margin-top:20px;}
.right_open .lo_wrap .mlang a{color:#000; font-size:16px; display:inline-block; margin-right:19px;}
.right_open .lo_wrap .mlang a.on {border-bottom:2px solid #000;}
/*right close*/
.left_close {display:none; position:fixed; z-index:999;width:100%; height:100%; top:0; left:0; background:rgba(0,0,0,0.4);}

@media screen and (max-width:991px) {
.top_menu {display:none;}
.Mtop_menu {display:block;}

.footer {width:100%; height:62px; background:#fff;position:fixed; bottom:0;z-index:100;}
.footer .content {max-width:960px;width:95%; height:100%; margin:0 auto;overflow:hidden; padding: 16px 0; box-sizing: border-box;}
.footer .content .logo {float:left; width:80px;}
.footer .content .logo img {width:75%;}
.footer .content .txt {float:left;color:#a2a2a2; font-size:11px; line-height:1.4;width:calc(100% - 390px);}
.footer .content .list {float:left; width:310px;}
.footer .content .list ul {overflow:hidden;}
.footer .content .list ul li {float:left;}
.footer .content .list ul li a {color:#a2a2a2; font-size:11px;border-right:1px solid #a2a2a2;padding:0 13px;}
.footer .content .list ul li:last-child a {border-right:0;}
.right_open {display:block;}

}

@media screen and (max-width:768px) {
.footer {display:none;}
}

@media screen and (max-width:480px) {

}

@media screen and (max-width:320px) {

}


/* wcent */
.w1{width:1%;}
.w2{width:2%;}
.w3{width:3%;}
.w4{width:4%;}
.w5{width:5%;}
.w6{width:6%;}
.w7{width:7%;}
.w8{width:8%;}
.w9{width:9%;}
.w10{width:10%;}
.w11{width:11%;}
.w12{width:12%;}
.w13{width:13%;}
.w14{width:14%;}
.w15{width:15%;}
.w16{width:16%;}
.w17{width:17%;}
.w18{width:18%;}
.w19{width:19%;}
.w20{width:20%;}
.w21{width:21%;}
.w22{width:22%;}
.w23{width:23%;}
.w24{width:24%;}
.w25{width:25%;}
.w26{width:26%;}
.w27{width:27%;}
.w28{width:28%;}
.w29{width:29%;}
.w30{width:30%;}
.w31{width:31%;}
.w32{width:32%;}
.w33{width:33%;}
.w34{width:34%;}
.w35{width:35%;}
.w36{width:36%;}
.w37{width:37%;}
.w38{width:38%;}
.w39{width:39%;}
.w40{width:40%;}
.w41{width:41%;}
.w42{width:42%;}
.w43{width:43%;}
.w44{width:44%;}
.w45{width:45%;}
.w46{width:46%;}
.w47{width:47%;}
.w48{width:48%;}
.w49{width:49%;}
.w50{width:50%;}
.w51{width:51%;}
.w52{width:52%;}
.w53{width:53%;}
.w54{width:54%;}
.w55{width:55%;}
.w56{width:56%;}
.w57{width:57%;}
.w58{width:58%;}
.w59{width:59%;}
.w60{width:60%;}
.w61{width:61%;}
.w62{width:62%;}
.w63{width:63%;}
.w64{width:64%;}
.w65{width:65%;}
.w66{width:66%;}
.w67{width:67%;}
.w68{width:68%;}
.w69{width:69%;}
.w70{width:70%;}
.w71{width:71%;}
.w72{width:72%;}
.w73{width:73%;}
.w74{width:74%;}
.w75{width:75%;}
.w76{width:76%;}
.w77{width:77%;}
.w78{width:78%;}
.w79{width:79%;}
.w80{width:80%;}
.w81{width:81%;}
.w82{width:82%;}
.w83{width:83%;}
.w84{width:84%;}
.w85{width:85%;}
.w86{width:86%;}
.w87{width:87%;}
.w88{width:88%;}
.w89{width:89%;}
.w90{width:90%;}
.w91{width:91%;}
.w92{width:92%;}
.w93{width:93%;}
.w94{width:94%;}
.w95{width:95%;}
.w96{width:96%;}
.w97{width:97%;}
.w98{width:98%;}
.w99{width:99%;}
.w100{width:100%;}
